@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background: #00284b;
}
.wrapper .container {
  background: #efefef;
  height: 600px;
  width: 960px;
  display: flex;
  justify-content: center;
}

.container .title {
  flex-basis: 30%;
  background: #000 url('https://raw.githubusercontent.com/Shikigeru/React-Weather-App/gh-pages/images/title-background.png');
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.container .info {
  flex-basis: 70%;
  padding: 50px;
  box-sizing: border-box;
  background: #005cad;
  color: #fff;
}
.container .info p {
  font-size: 30px;
  text-transform: capitalize;
}
.container .info span {
  font-weight: bold;
}
.container .info form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .info form input {
  width: 40%;
  height: 40px;
  margin-right: 10px;
  padding: 0 20px;
  border: none;
  text-transform: uppercase;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.container .info form input:last-child {
  margin-right: 0;
}
.container .info form button {
  flex: 1;
  display: inline-block;
  background: #00284b;
  color: #fff;
  border: none;
  height: 40px;
  padding: 0px 15px;
  text-transform: uppercase;
  box-sizing: border-box;
  transition: all .5s;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.container .info form button:hover {
  background: #00335f;
}


@media screen and (max-width: 960px) {
  .container .info form input {
    max-width: 180;
  }
}

@media screen and (max-width: 856px) {
  .container .info form input {
    margin: 0;
  }
  .container .info form button {
    margin: 10px auto 0 auto;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .container .info form input {
    flex-basis: 100%;
    margin-top: 10px;
  }
  .container .info form input:first-child {
    margin-top: 0px;
  }
}

@media screen and (max-width: 670px) {
  .wrapper .container {
    flex-direction: column;
    height: 100vh;
  }
  .container .title {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .container .info p {
    font-size: 20px;
  }
  .container .title {
    flex-basis: 20%;
  }
  .container .info {
    flex-basis: 80%;
  }
}